// main.scss
@import './app/componentes/buscador/buscador.component.scss';
@import './app/componentes/card/card.component.scss';
@import './app/app.component.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  margin: 0;
  padding: 0;
}